
<body>
  <div class="header-section">
    <h1>Pearson Specter Litt</h1>
    <p><i>"We don’t just practice law; we redefine it."</i></p>
  </div>
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/2.jpg" alt="Random first slide" />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/1.jpg" alt="Random second slide" />
        </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
          <img style="width: 100vw;     height: 610px;" src="../assets/3.jpg" alt="Random second slide" />
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
        <img style="width: 100vw;     height: 610px;" src="../assets/6.jpg" alt="Random second slide" />
    </div>
</ng-template>
<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
      <img style="width: 100vw;     height: 610px;" src="../assets/8.jpg" alt="Random second slide" />
  </div>
</ng-template>
    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template> -->
</ngb-carousel>
 
  

        <!-- Skills -->
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <br><br>
            <div class="divMain container">
              <div class="container c1 text">
                <h2 class="text">Why Choose Pearson Specter Litt</h2>
                  <br>
                  <ul class="category" id="t1">
                      <li>
                          <ul class="subcategory">
                              <li>We don’t just handle complex litigation; we dominate it.</li>
                              <li>Our expertise isn’t just unparalleled; it’s untouchable.</li>
                              <li>We don’t do ‘client-focused’; we do client-obsessed.</li>
                              <li>Results aren’t just impactful—they’re game-changing.</li>
                          </ul>
                      </li>                       
                  </ul>
              </div>
              <div class="image">
                  <img src="../assets/about-5.webp" class="fit-image" alt="Fit Image">
              </div>
          </div>
          
                <br><br>
        </section>

<!--         
<section class="s1">
    <br><br>
  
<div class="container">

   <h1 id="p2"> EMPLOYEE MANAGEMENT SYSTEM</h1> 
    <br><br>
<div class="navigation">
    <div class="card" style="width: 18rem;">
        <img src="../assets/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employee List</h5>
          <p class="card-text">list of all Employees</p>
          <a routerLink="/show-all-employees"  class=" btn btn-primary">Employee List</a>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a ng-click="goToEmployeeList()" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>    
      </div>
</div>
  <br><br>

</section > -->

<section class="about ">
    <br><br>
    <div class="container">
<div class="about-section">
    <h1>About Us Page</h1>
    <br>
    <!-- <p>Some text about who we are and what we do.</p> -->
    <p>At Pearson Specter Litt, we are more than just a law firm. We are a powerhouse of legal excellence, committed to delivering winning strategies and unparalleled expertise. With a reputation built on dominance in complex litigation, precision in corporate law, and a relentless dedication to our clients, we operate at the highest standards of professionalism and integrity.

      Our team of elite lawyers combines experience with innovative thinking to address the unique challenges faced by each client. Whether it’s navigating intricate mergers, protecting intellectual property, or advocating in high-stakes cases, we don’t just handle legal issues—we craft solutions that secure impactful, game-changing results. At Pearson Specter Litt, we are not just client-focused; we are client-obsessed, ensuring every case we undertake benefits from our full attention and expertise.
      
      </p>
        <i>"Not just lawyers. Strategists in the art of winning."</i>
  </div>
  <br><br>
  <h2 style="text-align:center">Our Partners</h2>
  <br><br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/jessica.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jessica Pearson</h2>
          <p class="title">Managing Partner</p>
          <p><i>"I don’t demand respect; I command it."</i></p>
          <p>jessica@pearsonspecterlitt.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/harvey.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Harvey Specter</h2>
          <p class="title">Name Partner</p>
          <p><i>"I don't play the odds, I play the man."</i></p>
          <p>harvey@pearsonspecterlitt.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/louis.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Louis Litt</h2>
          <p class="title">Name Partner</p>
          <p><i>"You just got Litt Up!"</i></p>
          <p>louis@pearsonspecterlitt.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/donna.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Donna Paulson</h2>
        <p class="title">Chief Operating Officer</p>
        <p><i>"I'm Donna. I know everything."</i></p>
        <p>donna@pearsonspecterlitt.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/robert.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Robert Zane</h2>
        <p class="title">Senior Partner</p>
        <p><i>"I don’t just play the game—I own the board."</i></p>
        <p>robert@pearsonspecterlitt.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../assets/samantha.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Samantha Wheeler</h2>
        <p class="title">Senior Partner</p>
        <p><i>"I don’t fight fair. I fight to win."</i></p>
        <p>samantha@pearsonspecterlitt.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/alex.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Alex Willaims</h2>
        <p class="title">Senior Partner</p>
        <p><i>"Loyalty is my currency, and I spend it wisely."</i></p>
        <p>alex@pearsonspecterlitt.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/katrina.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Katrina Benett</h2>
        <p class="title">Senior Partner</p>
        <p><i>"I don’t just follow the rules; I redefine them."</i></p>
        <p>katrina@pearsonspecterlitt.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/mike.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Junior Partner</p>
        <p><i>"I might be a fraud, but I'm damn good at it."</i></p>
        <p>mike@pearsonspecterlitt.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>


<br><br><br><br><br>
</section>

</body>