
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   
}

.header-section{
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
}
/* body{
    background-color: black;
} */
#p1{
    font-size: 3.1rem;
}

#p2{
    font-size: 2.5rem;
}
 /* div {
    display: block;
}  */
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carousel-caption{
    font-size: 2.9rem;
    height: 29rem;
} 
/* ul {
   
    margin: 2rem 0; 
    padding: 0; 
  }

  li {
    list-style-type: style circle;
    font-size: 1.2rem; 
    margin-bottom: 0.5rem; Margin using rem units for spacing
  } */

/* .s1{

    background-image: linear-gradient(to right,white,black);
} */

.divMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.tagline {
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;
    color: #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
}
.text {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
}


section {
    position: relative;
    width: 100%;
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.section-2  {
   background-color: white;
    height: -20rem;
    
}
.section-2 .fit-image{
   
   height: 40rem;
 
}



 .text{
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 2rem;
}

.text #t1{
   
    margin-left: 7rem;
    font-size: 1.5rem;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

ul.category {
  margin-left: 0;
  padding-left: 0;
}

ul.category li {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

ul.subcategory {
  list-style-type: disc;
  margin-left: 0 !important;
  padding-left: 0 !important; /* Remove left padding */
  text-indent: -15px; /* Adjust bullet position to the left */
}

ul.subcategory li {
  font-weight: normal;
  font-size: 1.3rem;
  padding-left: 30px; /* Control text position relative to the bullet */
  margin-left: 0 !important; /* Ensure no left margin */
}





.about{
    background-color: white;
}
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 18px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color:black;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }





